PORT=5000

DB_HOST=localhost
DB_PORT=3307
DB_NAME=email_scheduler
DB_USER=scheduler
DB_PASSWORD=your_password

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=your_jwt_secret

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=your_ethereal_username
SMTP_PASSWORD=your_ethereal_password
SMTP_FROM="Email Scheduler <your_ethereal_username>"